// Add your custom CSS here.
.info-bar__item .i-percent::before {
    content: url(/img/uploads/local.png);
}
.product__payment.card.mb-3, .product-quickview__box {
    background: #000
}
.top-bar__nav .col-auto i {
    font-size: 20px !important
}
.header__logo {
    max-height: calc(var(--font-size-lg)*var(--line-height-lg) + var(--spacer-4)*3);
    max-width: 165px;
}
@media(min-width: 576px) {
    .header__logo {
        max-height: 120px;
    }
}